:root{
  --main-color: #71cd14;
  --sec-color : #797979;
  --section-color:#f6f6f6;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}
*{
  box-sizing: border-box;
}

ul{
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.spacil-header{
  text-align: center;
}
.spacil-header h3{
  width: fit-content;
  margin: 0 auto 15px ;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.spacil-header p{
  color: var(--sec-color);
}
